.contato{
    background-color: #5be6f8;
    
    .container{
        padding: 20px 150px;
        
        .formulario{

            .form{
                display: block;
                font-size: 24px;
            }
            .form-control{
                margin-bottom: 10px;
                width: 50vw;
                height: 50px;
                border-radius: 10px;
                border: none;
                max-width: 50vw;
            }

        }

        .btn{
            padding: 10px 30px;
            margin: 0 3px;
            color: #000;
            font-weight: bold;
            background-color: #95a5a6;
            border-radius: 10px;
            border: none;
            transition: background-color 0.9s ease, transform 0.3s ease, box-shadow 0.3s ease;
            box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3), 0 6px 12px rgba(0, 0, 0, 0.2);
        }

        .btn:hover{
            background-color: #8d7f7f;
            transform: translateY(-1px);
        }
    }
}