.faq {
    padding: 20px 150px;
    background-color: #5be6f8; 

    .avaliacoes{

        .comentarios{
            height: 600px;
            max-width: 100%;
            margin-top: 25px;
        }
    }
}

.faq__questions{
    padding-right: 50px;
}

.faq__questions__item {
    background-color: #95a5a6;  
    margin-bottom: 16px;
    border-radius: 10px;
    transition: background-color 0.9s ease, transform 0.2s ease, box-shadow 0.3s ease;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3), 0 6px 12px rgba(0, 0, 0, 0.2);

}

.faq__questions__item:hover{
    background-color: #7f8c8d;
    transform: translateY(-06px);
}


.faq__questions__item__question {
    color: #000;
    font-weight: bold;
    font-size: 16px;
    padding: 14px;
    display: block;
    cursor: pointer;
    position: relative;

}

.faq__questions__item__question::after {
    content: "+";
    position: absolute;
    top: 0;
    right: 24px;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.faq__questions__item__answer {
    font-size: 15px;
    height: 0;
    overflow: hidden;
    padding: 0 24px;
    transition: height,.5s ease;
}

.faq__questions__item--is-open .faq__questions__item__question::after {
    content: "-"
}

.faq__questions__item--is-open .faq__questions__item__answer {
    height: auto;
    padding-bottom: 24px;
    transition: height,.8s ease
}

.servicos{
    display: flex;
    align-items: center;
    margin-top: 100px;

    .image{
        width: 450px;
        height: 320px;
        border-radius: 10px;
        transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease; /* Adicionando transição para suavizar a mudança */
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.4), 0 7px 14px rgba(0, 0, 0, 0.3); /* Efeito de sombra 3D mais pronunciado */
    }

}

